@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

*{
  margin:0;
  padding;0;
  box-sizing: border-box;
}

body {
  /* background: url("space.jpg") no-repeat fixed center; */
  /* background-size:cover; */
   color:white; 
  overflow-x: hidden;
}

.container1{
    
    height:100vh;
    background:url('saladdrink.jpg') no-repeat fixed center;
    background-size: cover;
}


.title {
  text-align: center;
  padding: 1.5rem;
  /* font:'Orbitron',sans-serif; */
  font-size:2rem;
  /* font-weight:700; */
  color:rgb(2, 2, 71);
}

/* img[src=""] { display: none; }
.small {
  display: flex;
  padding: 1rem 0;
  color:white;
}
.nasaLink {
  text-decoration: none;
  color:white;
}
.nasaLink:hover {
  color: green;
}
.title {
  color:rgb(2, 2, 71);
} */
.about{
  display:block;
}
/* .about {
  display: flex;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
}
.left,
.right {
     width: 50%;
     display:block;
    text-align:center;
    
}
.svgImage{
    margin:-110px 220px;
    display:block;
    text-align:center;
}
.package, .recipe{
  margin-right:auto;
  font-size:2rem;
    font-weight:900;
 color:rgb(2, 2, 71);
}
.line2{
  margin:80px 0  0 60px;
} */
.introPara{
    margin-right:auto;
    font-size:1.7rem;
    font-weight:900;
    /* color:yellow; */
    color:rgb(2, 2, 71);
  line-height:1.5;
}
.right{
  display:block;
}
.svgImage{
  display:block;
  text-align: center;
  margin:0 auto;
  
}
.line1,.line2{
  padding:2rem 0;
}
.package, .recipe{
padding:1rem;
font-size:1.4rem;
font-weight:900;
color:rgb(2, 2, 71);
border-radius:10px;
border:2px solid rgb(2, 2, 71);
background:rgb(124, 156, 243);

}
.package:hover, .recipe:hover{
  background-color:rgb(98, 138, 248);
  color:rgb(11, 11, 97);
}
/* #randomDate{
  margin: 1rem auto;
 text-align:center;
  font-weight:bold;
  color:white;
  display:block;
  font-size:1.5rem;
} */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:5rem;
  max-width:1200px;
}
/* .randomImg{
  width:200px;
  height:200px;
} */
.result-img,
.desc {
  display: flex;
  width:50%;
  /* justify-content: center; */
  align-items:center;
  padding:0 2rem ;
/*   margin: 0 5% 0 5%; */
  /* border: 2px solid black; */
}
/* #randomDesc{
  line-height:1.2;
  font-size:1.5rem;
} */

* .pots{
    /* margin-top:-140px; */
} */
/*start of scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(7, 4, 20);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgb(7, 4, 20);
}

/****NAVBAR********/
/* nav {
  background: #222;
  padding: 0 15px;
  z-index:99;
  position:relative;
 
}

a {
  color: rgb(103, 236, 180);
  text-decoration: none;
}
a:hover{
  color:rgb(160, 235, 166);
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
} */


/* Mobile menu */
/*.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}


.button.secondary {
  /* divider between buttons and menu links *
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens *
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}*/

/* Tablet menu */
@media all and (min-width: 700px) {
  /* .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen *
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }  */

  .introPara{
    font-size:2rem;
  }
  .about {
    display: flex;
    width: 100%;
    padding: 0 10%;
    align-items: center;
    justify-content: center;
  }
  .left,
  .right {
       width: 50%;
       display:block;
      text-align:center;
      
  }
  .svgImage{
      margin:-110px 220px;
      display:block;
      text-align:center;
  }
  .package, .recipe{
    margin-right:auto;
    font-size:2rem;
      font-weight:900;
   color:rgb(2, 2, 71);
  }
  .line2{
    margin:80px 0  0 60px;
  }
  .line2, .line1{
    display:flex;
    text-align:center;
}
.package, .recipe{
  border:2px solid black;
  padding:20px;
  border-radius:10px;
  background-color:rgb(124, 156, 243);
}
.title {
  /* text-align: center; */
  padding: 3rem;
  /* font:'Orbitron',sans-serif; */
  font-size:4rem;
  /* font-weight:700; */
}
}
/* Desktop menu */
@media all and (min-width: 960px) {
  /* .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  } 
  .toggle {
    display: none;
  }
   .submenu-active {
    border-radius: 0;
  }  */
}